    html {
    font-family: 'Montserrat', sans-serif;
    }

    .box {
    display: block;
    text-align: center;
    
    }

    body {
    margin: 0;
    background-color: #efefef;
    }



    .head {
    background-color: #14213d;
    color: #e5e5e5;
    padding-top: 1rem;
    font-size: 12px;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    }


    #yo {
    width: auto;
    height: 120px;
    border-radius: 100%;
    border: #e5e5e5;
    border-style: solid;
    }

    .head h1 {
        display: inline-flex;
        flex-wrap: wrap-reverse;
    }
    
    .banner {
        height: auto;
        max-width: 100%;
    }

