html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}
header img{
    width: auto;
    height: 60px;
    float: left;
    margin-top: 0;
    margin-right: 0;

}


li a {
    text-decoration: none;
    color: #e5e5e5;
    padding-right: 14px;

}

.boton_principal {
    float: right;
    background-color: #14213d;
    color: #e5e5e5;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    transition: ease 0.3s;
}

.boton_principal:hover {
    background-color: #000000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: #14213d;
}

li {
    color: #efefef;
    float: right;
    display: inline;
    padding: 5px;
    transition: ease 0.3s;
}

li:hover {
    background-color: #000000;
}

.head {
    background-color: #14213d;
    color: #e5e5e5;
    padding-top: 1rem;
    font-size: 12px;
}

.header {
    padding: 0;
}


#yo {
    width: auto;
    height: 120px;
    
    
    }


